body {
    background-repeat: no-repeat;
    -webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background-size: 100% 269px;

 > .header{
	> .navbar  {
		> .container-fluid{
			> .collapse {
				
				
				ul {
				float:right;
					li {
					
					}
				
				}
			
			}	
		
		}
	}
 }
 
 h1 {
 color:red;
 }
}